<section class="hero-flex">
  <div class="container">
    <div class="card">
      <div class="face face1" id="beer-face">
        <div class="content beer-image">
          <img id="beer-img-url" src="{{beer_img}}" alt="beer" />
        </div>
      </div>
      <div class="face face2" id="beer-content">
        <div class="content">
          <h3 class="beer-name">{{beer_name}}</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1" id="food-face">
        <div class="content dish-image">
          <img src="{{dish_img}}" />
          <p hidden id="dish-img-url"></p>
        </div>
      </div>
      <div class="face face2" id="food-content">
        <div class="content">
          <h3 class="dish-name">{{dish_name}}</h3>
          <p hidden id="dish-id"></p>
          <p class="dish-summary"></p>
          <a
            id="recipe-link"
            href="{{dish_link}}"
            target="_blank"
            rel="noopener noreferrer"
          >Get Recipe</a>
        </div>
      </div>
    </div>
  </div>
</section>