<section class="hero-flex">
  <div class="saved-container">
    <p class="pairing-id" hidden>{{id}}</p>
    <div class="card drop-shadow">
      <div class="content1 saved-beer-image">
        <img id="" src="{{beer_img}}" alt="beer" />
      </div>
      <div class="content2">
        <h3 class="beer-name">{{beer_name}}</h3>
      </div>
    </div>
    <div class="card drop-shadow">
      <div class="content1 saved-dish-image">
        <img src="{{dish_img}}" />
      </div>
      <div class="content2">
        <h3 class="dish-name">{{dish_name}}</h3>
        <a
          id="recipe-link"
          href="{{dish_link}}"
          target="_blank"
          rel="noopener noreferrer"
        ><button>Get Recipe</button></a>
      </div>
    </div>
    <div>
      <button class="delete-pairing-btn">Delete</button>
    </div>
  </div>
</section>