<section class="card">
  <a href="/pairing/{{id}}">
    <div class="card-body">
      <img src="{{beer_img}}" alt="{{description}}" />
      <p>{{beer_name}}</p>
    </div>
  </a>
  <a href="/pairing/{{id}}">
    <div class="card-body">
      <img src="{{dish_img}}" alt="{{description}}" />
      <p>{{dish_name}}</p>
      <a href="{{dish_link}}"></a>
    </div>
  </a>
  <div>
    <div class="rating">
      <span class="rating-result"></span>
      <i class="rating-star far fa-star"></i>
      <i class="rating-star far fa-star"></i>
      <i class="rating-star far fa-star"></i>
      <i class="rating-star far fa-star"></i>
      <i class="rating-star far fa-star"></i>
    </div>
    <input type="text" placeholder="review"></input>
  </div>
</section>